<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= data.title %></h1>
    <p>Welcome to <%= data.title %></p>
    <h1>Book Lists:</h1>
    <% data.books.forEach(function(book) { %>
      <li><a href="/book/<%= book.asin %>"><%= book.asin %></a></li>
      <img src="<%= book.imUrl %>" alt="">
    <% }); %>
  </body>
</html>
