<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron jumbotron-fluid mycustom-jumbotron">
      <div class="header">
        <h1><%= data.title %></h1>
        <h4>Welcome to <%= data.title %> by BIGdata</h4>
      </div>  
      </div>
      <div class="topnav">
        <a href="" class="active">Home</a>
        <a href="">Book Reviews</a>
        <a href="">Reccommendations</a>
        <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="right">Login</a>
        <div id="id01" class="modal">  
          <form class="modal-content modal-animate" action="/action_page.php" method="post">
            <div class="modal-imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="modal-close" title="Close Modal">&times;</span>
              <img src="images/profilepicture.png" alt="Avatar" class="modal-avatar">
            </div>
            <div class="modal-container-top">
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
                
              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
            <div class="modal-container-bottom" style="background-color:#f1f1f1">
              <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
              <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
          </form>
        </div>
        
        <a href="" class="right">Create New Account</a>
        <div class="search-container">
            <form action="/search" method="post">
              <input type="text" placeholder="Search.." name="book_id">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
      </div>
      <div class="content">
        <div class="column side">
            <div class="categories_text">
            <h1>Categories</h1>
            </div>
              <button class="dropdown-btn">Books<i class="fa fa-caret-down"></i></button>
              <div class="dropdown-container">
                <li><a href="">Cook Books</a></li>
                <li><a href="">Business & Money</a></li>
                <li><a href="">Literature & Fiction</a></li>
                <li><a href="">Medical Books</a></li>
                <li><a href="">Reference</a></li>
                <li><a href="">Self-Help</a></li>
                <li><a href="">Science & Math</a></li>
              </div>  
              <button class="dropdown-btn">Kindle Store<i class="fa fa-caret-down"></i></button>
              <div class="dropdown-container">
                <li><a href="">Kindle Accessories</a></li>
                <li><a href="">Kindle eBooks</a></li>
                <li><a href="">Kindle Short Reads</a></li>
              </div>  
        </div>  
        <div class="column main">
          <div class="book_section_div">
            <div class="book_section">  
             <h1>Books Section</h1>
            </div>
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
            <div class="booklist">
              <% data.books.forEach(function(book) { %>
              <div class="indivbook">
                <div class="indivbookid">
                  <li><a>Book ID: </a><a href="/book/<%= book.asin %>"><%= book.asin %></a></li>
                </div>
                <div class="indivbookimg">
                  <a href="/book/<%= book.asin %>"><img src="<%= book.imUrl %>" alt=""></a>
                </div>  
                <div class="indivbookdes">
                  <li><a><%= book.description || "No Description Provided" %></a></li>
                  <li><a href="/book/<%= book.asin %>">View more</a><a>...</a></li>
                </div>
                <div class="indivbookprice">
                  <li><a>Price: $<%= book.price || "-" %></a></li>
                </div>
                <div class="indivbookcat">
                  <li><a><%= book.categories || "No Category Provided" %></a></li>
                </div>
              </div>  
              <% }); %>
            </div>
          </div>
        </div>    
      </div>  
      <div class="footer">
          <h2>Footer Here</h2>
      </div> 
    </div>  
  </body>
  <script type="text/javascript">
    var data = <%- JSON.stringify(data) %>;
    console.log(data);
  </script>
  <script>
    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>
  <script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;
    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
      } else {
      dropdownContent.style.display = "block";
      }
      });
    }
    </script>
</html>
