<!DOCTYPE html>
<html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Book Review Page</title>
    </head>
    <style>
        .component-center {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        button:disabled {
            cursor: not-allowed;
            pointer-events: all !important;
        }
    </style>
    <body>
        <% include partials/head %>
        <main class="component-center">
            <% if (data.err) { %>
                <div>
                    <h1 class="my-4">Sorry...</h1>
                    <p class="mb-1">The book that you are trying to find does not exist in our database,</p>
                    <p>You may want to add them!</p>
                </div>
            <% } else {%>
            <div style="max-width:760px">
                <h1 class="text-center mb-3 mt-3">Product Overview</h1>
                <div class="p-3">
                    <div class="row mb-4">
                        <div class="col-4">
                            <img src="<%= data.book.imUrl %>" class="img-fluid">
                        </div>
                        <div class="col">
                            <dl class="row pt-3">
                                <dt class="col-sm-4">Product ID:</dt>
                                <dd class="col-sm-8"><%= data.book.asin %></dd>
                                <dt class="col-sm-4">Description:</dt>
                                <dd class="col-sm-8"><%= (data.book.description || "No Description Provided") %></dd>
                                <dt class="col-sm-4">Price:</dt>
                                <dd class="col-sm-8 text-danger">$ <%= (data.book.price || " - ") %></dd>
                                <dt class="col-sm-4">Related Items:</dt>
                                <dd class="col-sm-8">
                                    <% if (data.book.related.length === 0) { %>
                                        <p>There are no related items for this product.
                                    <% } else {%>
                                        <div>
                                            <% Object.keys(data.book.related).forEach(function(relation) { %>
                                                <a class="btn btn-info" data-toggle="collapse" href="#Collapse<%= relation %>" role="button" aria-expanded="false" aria-controls="Collapse<%= relation.replace(/_/g , " ") %>"><%= relation.replace(/_/g , " ") %></a>
                                                <div class="collapse multi-collapse" id="Collapse<%= relation %>">
                                                    <div class="card card-body mt-3 mb-3">
                                                    <% data.book.related[relation].forEach(function(name) { %>
                                                        <p class="m-0"><a href="/book/<%= name %>"><%= name %></a></p>
                                                    <% }); %>
                                                    </div>
                                                </div>
                                            <% }); %>
                                        </div>
                                    <% } %>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="p-3">
                    <div>
                        <% if (typeof cookie.login !== "undefined" && cookie.login == 'true') { %>
                        <span class="float-right">
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#addReviewModal">Add Review</button>
                        </span>
                        <!-- Modal -->
                        <h3 class="mb-4">Ratings & Reviews:</h3>

                        
                        <div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title">Please add your review below</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form class="mb-0" action="/addreview" method="post">
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label for="asin" class="col-sm-3 col-form-label"><strong>Product ID</strong></strong></label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control-plaintext" name="asin" value=<%= data.book.asin %>>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="reviewerName" class="col-sm-3 col-form-label"><strong>Reviewer</strong></label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control-plaintext" name="reviewerName" value=<%= cookie.user_info.name %>>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="overall" class="col-sm-3 col-form-label"><strong>Rating</strong></label>
                                                <div class="col-sm-3">
                                                    <select class="form-control" name="overall" required>
                                                        <option value="" selected disabled hidden>Rate...</option>
                                                        <option>0</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="summary" class="col-sm-3 col-form-label"><strong>Summary</strong></label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="summary" placeholder="Review summary" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="reviewText" class="col-sm-3 col-form-label"><strong>Review Text</strong></label>
                                                <div class="col-sm-9">
                                                    <textarea class="form-control" name="reviewText" rows="4" placeholder="Insert your review" required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Add Review</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% } else {%>
                        <span class="float-right">
                            <button type="button" class="btn btn-light" disabled>Add Review</button>
                        </span>
                    <% } %>
                        <h3 class="mb-4">Ratings & Reviews:</h3>
                    </div> 
                    <% if (data.reviews.length === 0) { %>
                        <p>There are no reviews for this product yet. Be the first one to add them!</>
                    <% } else {%>
                        <% data.reviews.forEach(function(review) { %>
                        <div class="border border-dark rounded mb-3 p-3">
                        <div class="row">
                            <div class="col-1 mx-0 pr-0 pt-2 component-center">
                                <p title="# of people who find this review helpful"><span class="badge badge-success"><%= JSON.parse(review.helpful)[0] %></span></p>
                                <p title="# of people who find this review not helpful"><span class="badge badge-danger"><%= JSON.parse(review.helpful)[1] - JSON.parse(review.helpful)[0] %></span></p>
                            </div>
                            <div class="col">
                                <!-- <div class="border border-dark rounded mb-3 p-3"> -->
                                    <p class="pb-2">
                                        <a href="/user/<%= review.reviewerID %>" class="float-left text-primary"><strong><%= review.reviewerName %></strong></a>
                                        <% for (i=0; i < 5 - review.overall; i++) { %>
                                            <span class="float-right">
                                                <i class="text-dark fa fa-star"></i>
                                            </span>
                                        <% } %>
                                        <% for (i=0; i < review.overall; i++) { %>
                                            <span class="float-right">
                                                <i class="text-warning fa fa-star"></i>
                                            </span>
                                        <% } %>
                                    </p>
                                    <p class="pb-4">
                                        <span class="float-left h4"><%= review.summary %></span>
                                        <span class="float-right text-muted"><%= review.reviewTime %></span>
                                    </p>
                                    <p class="mb-0"><%= review.reviewText %></p>
                                    <!-- <p class="mb-0" title="ratio of people who found this review helpful">Helpful: <%= review.helpful %></p> -->
                                <!-- </div> -->
                            </div>
                        </div>
                        </div>
                        <% }); %>
                    <% } %>
                </div>
            </div>
            <% } %>
        </main>
        <% include partials/footer %>
    </body>
    <% include partials/bootstrap-script %>
</html>