<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<style>
    button:disabled {
        cursor: not-allowed;
        pointer-events: all !important;
    }
</style>

<body>
    <% include partials/head %>
    <div>
        <br>
        <div class="col text-center">
            <% if (typeof cookie.login !== "undefined" && cookie.login == 'true' && data.user_data[0]["reviewerID"] == cookie.user_info.user_id  ) { %>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addbookModal">Add
                Book</button>

            <% } else {%>
            <button type="button" class="btn btn-light" disabled>Add
                Book</button>
            <% } %>

        </div>
        <hr>
        <div class="modal fade" id="addbookModal" tabindex="-1" role="dialog" aria-labelledby="addbookModalLabel"
            aria-hidden="true" style="z-index: 100000000000">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addbookModalLabel">Please fill in the book details below:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/addbook" method="POST">
                            <div class="form-group">
                                <label for="description" class="col-form-label"><strong>Description:</strong></label>
                                <input type="text" class="form-control" id="description" name="description" required>
                            </div>
                            <div class="form-group">
                                <label for="price" class="col-form-label"><strong>Price:</strong></label>
                                <input type="number" step="0.01" class="form-control" id="price" name="price" required>
                            </div>
                            <div class="form-group">
                                <label class="file-upload-container" for="file-upload"><strong>Select an
                                        Image:</strong></label><br>
                                <input id="file-upload" type="file"><br><br>
                                <input id="bookimage" type="hidden" name="imageURL"
                                    value="http://g-ecx.images-amazon.com/images/G/01/x-site/icons/no-img-sm._V192198896_.gif" />
                                <img src="" id="img-preview" />

                                <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

                                <script>
                                    var CLOUDINARY_URL = "https://api.cloudinary.com/v1_1/kundandalmia/upload";
                                    var CLOUDINARY_UPLOAD_PRESET = "w9kd5wxa";
                                    var imgPreview = document.getElementById('img-preview');
                                    var fileUpload = document.getElementById('file-upload');
                                    var image_url;

                                    fileUpload.addEventListener('change', function (event) {
                                        var file = event.target.files[0];
                                        var formData = new FormData();
                                        formData.append('file', file);
                                        formData.append('upload_preset', CLOUDINARY_UPLOAD_PRESET);

                                        axios({
                                            url: CLOUDINARY_URL,
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/x-www-form-urlencoded'
                                            },
                                            data: formData
                                        }).then(function (res) {
                                            console.log(res);
                                            imgPreview.src = res.data.secure_url;
                                            image_url = res.data.secure_url;
                                            document.getElementById("bookimage").value = image_url;
                                            console.log("Image uploaded", image_url);

                                        }).catch(function (err) {
                                            console.error(err);

                                        });
                                    });
                                </script>
                            </div>
                            <div class="form-group">

                                <label for="categories" class="col-form-label"><strong>Categories:</strong></label>
                                <div class = "checkbox">
                                    <label><input class="checkbox-required" name="bookCategory" type="checkbox"
                                            value="Cookbooks" onclick='deRequire("checkbox-required")' required> Cook
                                        Books</label>


                                    <label><input class="checkbox-required" name="bookCategory" type="checkbox"
                                            value="Business & Money" onclick='deRequire("checkbox-required")' required>
                                        Business & Money</label>


                                    <label><input class="checkbox-required" name="bookCategory" type="checkbox"
                                            value="Literature & Fiction" onclick='deRequire("checkbox-required")'
                                            required> Literature &
                                        Fiction</label>


                                    <label><input class="checkbox-required" name="bookCategory" type="checkbox"
                                            value="Medical Books" onclick='deRequire("checkbox-required")' required>
                                        Medical Books</label>


                                    <label><input class="checkbox-required" name="bookCategory" type="checkbox"
                                            value="Reference" onclick='deRequire("checkbox-required")' required>
                                        Reference</label>


                                    <label><input class="checkbox-required" name="bookCategory" type="checkbox"
                                            value="Self-Help" onclick='deRequire("checkbox-required")' required>
                                        Self-Help</label>


                                    <label><input class="checkbox-required" name="bookCategory" type="checkbox"
                                            value="Science & Math" onclick='deRequire("checkbox-required")' required>
                                        Science & Math</label>

                                    <label><input class="checkbox-required" name="bookCategory" type="checkbox"
                                            value="Science Fiction & Fantasy" onclick='deRequire("checkbox-required")' required>
                                            Science Fiction & Fantasy
                                    </label>

                                    <label><input class="checkbox-required" name="kindleCategory" type="checkbox"
                                            value="Kindle Accessories" onclick='deRequire("checkbox-required")'
                                            required> Kindle Accessories</label>


                                    <label><input class="checkbox-required" name="kindleCategory" type="checkbox"
                                            value="Kindle eBooks" onclick='deRequire("checkbox-required")' required>
                                        Kindle eBooks</label>

                                    <label><input class="checkbox-required" name="kindleCategory" type="checkbox"
                                            value="Kindle Short Reads" onclick='deRequire("checkbox-required")'
                                            required> Kindle Short Reads</label>
                                    <script>

                                        function deRequire(elClass) {
                                            el = document.getElementsByClassName(elClass);

                                            var atLeastOneChecked = false;//at least one cb is checked
                                            for (i = 0; i < el.length; i++) {
                                                if (el[i].checked === true) {
                                                    atLeastOneChecked = true;
                                                }
                                            }

                                            if (atLeastOneChecked === true) {
                                                for (i = 0; i < el.length; i++) {
                                                    el[i].required = false;
                                                }
                                            } else {
                                                for (i = 0; i < el.length; i++) {
                                                    el[i].required = true;
                                                }
                                            }
                                        }

                                    </script>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-center mb-3">Books Reviewed by <%= data.user_data[0]["reviewerName"] %> </h1>
        <hr>
        <% data.book_data.forEach(function(book,i) { %>
        <div class="p-3">
            <div class="row mb-4">
                <div class="col-4">
                    <img src="<%= book.imUrl %>">
                </div>
                <div class="col">
                    <dl class="row pt-3">
                        <dt class="col-sm-3">Book ID</dt>
                        <dd class="col-sm-8"><a href="/book/<%= book.asin %>"><%= book.asin %></a></dd>
                        <dt class="col-sm-3">Summary:</dt>
                        <dd class="col-sm-8"><b><%= data.user_data[i].summary %></b></dd>
                        <dt class="col-sm-3">Review:</dt>
                        <dd class="col-sm-8"><%= data.user_data[i].reviewText %></dd>
                        <dt class="col-sm-3">Rating:</dt>
                        <dd class="col-sm-8">
                            <% for (j=0; j < data.user_data[i].overall; j++) { %>
                            <i class="text-warning fa fa-star"></i>
                            <% } %>
                            <% for (j=0; j < 5 - data.user_data[i].overall; j++) { %>
                            <i class="text-dark fa fa-star"></i>
                            <% } %>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <hr>
        <% }); %>
    </div>

    <% include partials/footer %>
</body>
<% include partials/bootstrap-script %>

</html>